{% block change_password %}
	<div id="change-password-modal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title text-center">Change Password</h4>
				</div>
					{% if form.old_passw.errors|length > 0 %}
					    {% set old_input_class = "input-group change-psw-input has-error" %}
					{% else %}
					    {% set old_input_class = "input-group change-psw-input" %}
					{% endif %}

					{% if form.new_passw.errors|length > 0 %}
					    {% set new_input_class = "input-group change-psw-input has-error" %}
					{% else %}
					    {% set new_input_class = "input-group change-psw-input" %}
					{% endif %}

					{% if form.retype_new_passw.errors|length > 0 %}
					    {% set retype_input_class = "input-group change-psw-input has-error" %}
					{% else %}
					    {% set retype_input_class = "input-group change-psw-input" %}
					{% endif %}
					<form action="{{ url_for('profile') }}" method="post" id="change-psw-form">
						{{ form.hidden_tag() }}
						<div class="modal-body">
						<div class="{{ old_input_class }}">
							<a class="input-group-addon"><span class="input-group glyphicon glyphicon-lock" aria-hidden="true"></span></a>
							<input type="password" class="form-control" placeholder="Current password" name="old_passw" autofocus>
						</div>
						<div class="input-group has-error">
							{% for message in form.old_passw.errors %}
								<label class="control-label" for="inputError1">{{ message }}</label>
							{% endfor %}
						</div>
						<div class="{{ new_input_class }}">
							<a class="input-group-addon"><span class="input-group glyphicon glyphicon-lock" id="surname" aria-hidden="true"></span></a>
							<input type="password" class="form-control" placeholder="New password" name="new_passw">
						</div>
						<div class="input-group has-error">
							{% for message in form.new_passw.errors %}
								<label class="control-label" for="inputError1">{{ message }}</label>
							{% endfor %}
						</div>
						<div class="{{ retype_input_class }}">
							<a class="input-group-addon"><span class="input-group glyphicon glyphicon-lock" id="email" aria-hidden="true"></span></a>
							<input type="password" class="form-control" placeholder="Confirm new password" name="retype_new_passw">
						</div>
						<div class="input-group has-error">
							{% for message in form.retype_new_passw.errors %}
								<label class="control-label" for="inputError1">{{ message }}</label>
							{% endfor %}
						</div>
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-primary popup-btn" name="change-passw-form">Save</button>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}