{% extends "layout.html" %}

{% block head %}
	<title>Sign up</title>
	<link href="/static/css/signin.css" type="text/css" rel="stylesheet">
{% endblock %}

{% block content %}
	<div class="jumbotron">
		<h3 class="text-center">Sign Up</h3>
		<hr class="colorgraph">
		{% if form.firstname.errors|length > 0 %}
		    {% set fn_input_class = "input-group has-error" %}
		{% else %}
		    {% set fn_input_class = "input-group" %}
		{% endif %}

		{% if form.lastname.errors|length > 0 %}
		    {% set ln_input_class = "input-group has-error" %}
		{% else %}
		    {% set ln_input_class = "input-group" %}
		{% endif %}
		
		{% if form.email.errors|length > 0 %}
		    {% set email_input_class = "input-group has-error" %}
		{% else %}
		    {% set email_input_class = "input-group" %}
		{% endif %}
		<form action="{{ url_for('signup') }}" method=post>
			{{ form.hidden_tag() }}
			<div class="{{ fn_input_class }}">
				<a class="input-group-addon"><span class="input-group glyphicon glyphicon-user"></span></a>
				<input type="text" class="form-control" placeholder="First Name" aria-describedby="firstname" name="firstname" autofocus value="{{ fname }}">
			</div>
			<div class="input-group has-error">
				{% for message in form.firstname.errors %}
					<label class="control-label" for="inputError1">{{ message }}</label>
				{% endfor %}
			</div>
			<div class="{{ ln_input_class }}">
				<a class="input-group-addon"><span class="input-group glyphicon glyphicon-user"></span></a>
				<input type="text" class="form-control" placeholder="Last Name" aria-describedby="lastname" name="lastname"
				value="{{ lname }}">
			</div>
			<div class="input-group has-error">
				{% for message in form.lastname.errors %}
					<label class="control-label" for="inputError1">{{ message }}</label>
				{% endfor %}
			</div>
			<div class="{{ email_input_class }}">
				<a class="input-group-addon"><span class="input-group glyphicon glyphicon-envelope"></span></a>
				<input type="text" class="form-control" placeholder="example@email.com" aria-describedby="email" name="email"
				value="{{ email }}">
			</div>
			<div class="input-group has-error">
				{% for message in form.email.errors %}
					<label class="control-label" for="inputError1">{{ message }}</label>
				{% endfor %}
			</div>
				<button type="submit" class="btn btn-primary btn-block">SIGN UP</button>
			</div>
		</form>
	</div>
{% endblock %}

{% block js %}
{% endblock %}